<div class="container">
  <mat-toolbar color = "primary">
    <span>Channel</span>
  </mat-toolbar>
<mat-card>
  <table class="table">
    <thead>
      <tr>
        <th>Channel</th>
        <th>Victim</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let channel of channels">
        <td>{{ channel.slackIdChanel }}</td>
        <td>{{ channel.idVictim }}</td>
        <td><button mat-raised-button color="accent" [routerLink]="['/channel-questions', channel.slackIdChanel]">Qestions</button></td>
      </tr>
    </tbody>
  </table>
</mat-card>
</div>
