<div class="container">
  <mat-toolbar color = "primary">
    <span>Channel</span>
  </mat-toolbar>

  <table class="table">
    <thead>
      <tr>
        <th>Channel</th>
        <th>Victim</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let channel of channels">
        <td>{{ channel.slackIdChanel }}</td>
        <td>{{ channel.idVictim }}</td>
        <td><a [routerLink]="['/channel-questions', channel.slackIdChanel]">Show Questions</a></td>
      </tr>
    </tbody>
  </table>
</div>
