<div class="container">
  <mat-toolbar color = "primary">
    <span>Questions</span>
  </mat-toolbar>
  <mat-card>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Channel</th>
      <th>Questioner</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Show Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questions">
      <td>{{ question.id }}</td>
      <td>{{ question.idChanel }}</td>
      <td>{{ question.idQuestioner }}</td>
      <td>{{ question.text }}</td>
      <td>{{ question.answerText }}</td>
      <td><button mat-raised-button color="accent" [routerLink]="['/answers/', question.timeStamp]">Show Answers</button></td>
    </tr>
    </tbody>
  </table>
  </mat-card>
</div>
